#map{
    width: 130% !important; 
    height: 100% !important;
    background-color: #F6F6F4;
}
.boton-regresar{
    position: fixed;
    top: 40px;
    right: 25px;
    font-size: 23px !important;
}